@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: candy-beans;
  src: url("./assets/text/Candy\ Beans.otf");
}

.candy-beans {
  font-family: candy-beans;
}

.orange-cat-spin {
  opacity: 1;
  position: absolute;
}



.bg-scroll {
	opacity: 1;
  position: absolute;
  height: 130vw;
  width: 130vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
  /* make BG larger than container */
  /* center bg in container - ratio of 150% */
  background: url(https://cdn.discordapp.com/attachments/754243466241769515/1199463016962474134/space_bg.png) repeat;
  background-repeat: repeat;
  background-size: 70%;
  animation: backgroundScroll 50s linear infinite;
  transform-origin: center center;
}

@keyframes backgroundScroll {
	0% {
    background-position: 0 0;
  }
	100% {
    /* pattern bg texture is 1800x1800px */
    background-position:1800px 0;
  }
}

.absolute-div-center-offset {
  transform: translate(-50%, 0%);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.centered-abs-xy {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}