@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: candy-beans;
  src: url("./assets/text/Candy\ Beans.otf");
}

.candy-beans {
  font-family: candy-beans;
}

@font-face {
  font-family: simply-rounded;
  src: url("./assets/text/Simply\ Rounded.ttf");
}

.simply-rounded {
  font-family: simply-rounded;
}

.cat-spin-1 {
  opacity: 1;
  position: absolute;
  height: calc(361px / 4);
  width: calc(452px / 4);
  top: -200px; /* [-250, 0] */
  left: 400px; /* [-250, 0] */
  background: url("https://cdn.discordapp.com/attachments/754243466241769515/1199659866164314292/oye_standing.png?ex=65c35950&is=65b0e450&hm=c9b571b80cc5c40e121faf9d4fef4ae9d6e1d92f2260d4418937d81925cfc931&") no-repeat;
  background-size: cover;
  animation: catSpin 20s linear infinite;
}

.cat-spin-2 {
  opacity: 1;
  position: absolute;
  height: calc(361px / 4);
  width: calc(452px / 4);
  top: -200px; /* [-250, 0] */
  left: -50px; /* [-250, 0] */
  background: url("https://cdn.discordapp.com/attachments/754243466241769515/1199658754875080704/comet_standing.png?ex=65c35847&is=65b0e347&hm=7a90550af6752df7ee5b96b880ccf221cf96f76b4505fb5b2e3db0b888a57fff&") no-repeat;
  background-size: cover;
  animation: catSpin 20s linear infinite;
}

.cat-spin-3 {
  opacity: 1;
  position: absolute;
  height: calc(361px / 4);
  width: calc(452px / 4);
  top: -100px; /* [-250, 0] */
  left: -200px; /* [-250, 0] */
  background: url("https://cdn.discordapp.com/attachments/754243466241769515/1199659866164314292/oye_standing.png?ex=65c35950&is=65b0e450&hm=c9b571b80cc5c40e121faf9d4fef4ae9d6e1d92f2260d4418937d81925cfc931&") no-repeat;
  background-size: cover;
  animation: catSpin 20s linear infinite;
}


.cat-spin-4 {
  opacity: 1;
  position: absolute;
  height: calc(361px / 4);
  width: calc(452px / 4);
  top: -200px; /* [-250, 0] */
  left: -50px; /* [-250, 0] */
  background: url("https://cdn.discordapp.com/attachments/754243466241769515/1199659866164314292/oye_standing.png?ex=65c35950&is=65b0e450&hm=c9b571b80cc5c40e121faf9d4fef4ae9d6e1d92f2260d4418937d81925cfc931&") no-repeat;
  background-size: cover;
  animation: catSpin 20s linear infinite;
}

.cat-spin-5 {
  opacity: 1;
  position: absolute;
  height: calc(361px / 4);
  width: calc(452px / 4);
  top: -200px; /* [-250, 0] */
  left: 250px; /* [-250, 0] */
  background: url("https://cdn.discordapp.com/attachments/754243466241769515/1199658754875080704/comet_standing.png?ex=65c35847&is=65b0e347&hm=7a90550af6752df7ee5b96b880ccf221cf96f76b4505fb5b2e3db0b888a57fff&") no-repeat;
  background-size: cover;
  animation: catSpin 20s linear infinite;
}

.cat-spin-6 {
  opacity: 1;
  position: absolute;
  height: calc(361px / 4);
  width: calc(452px / 4);
  top: -50px; /* [-250, 0] */
  left: -100px; /* [-250, 0] */
  background: url("https://cdn.discordapp.com/attachments/754243466241769515/1199659866164314292/oye_standing.png?ex=65c35950&is=65b0e450&hm=c9b571b80cc5c40e121faf9d4fef4ae9d6e1d92f2260d4418937d81925cfc931&") no-repeat;
  background-size: cover;
  animation: catSpin 20s linear infinite;
}

@keyframes catSpin {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
    
  }
  12.5% {
    transform: translate(250px, 250px) rotate(180deg);
  }
	25% {
    
    transform: translate(500px, 500px) rotate(360deg);
  }
  37.5% {
    transform: translate(750px, 750px) rotate(540deg);
  }
	50% {
    
    transform: translate(1000px, 1000px) rotate(720deg);
  }
  62.5% {
    transform: translate(1250px, 1250px) rotate(900deg);
  }
  75% {
    
    transform: translate(1500px, 1500px) rotate(1080deg);
  }
  87.5% {
    transform: translate(1750px, 1750px) rotate(1260deg);
  }
  100% {
    transform: translate(2000px, 2000px) rotate(1440deg);
  }
}



.bg-scroll {
	opacity: 1;
  position: absolute;
  height: 130vw;
  width: 130vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
  /* make BG larger than container */
  /* center bg in container - ratio of 150% */
  background: url(https://cdn.discordapp.com/attachments/754243466241769515/1199463016962474134/space_bg.png) repeat;
  background-repeat: repeat;
  background-size: 70%;
  animation: backgroundScroll 50s linear infinite;
  transform-origin: center center;
}

@keyframes backgroundScroll {
	0% {
    background-position: 0 0;
  }
	100% {
    /* pattern bg texture is 1800x1800px */
    background-position:1800px 0;
  }
}

.biscuits-earn-in {
  animation: biscuits-in 1s ease-in;

}

.biscuits-earn-out {
  animation: biscuits-out 1s ease-in-out;
}

@keyframes biscuits-in {
  0% {
    opacity: 0;
    bottom: 28px;
  }
  100% {
    opacity: 1;
    bottom: 33px;
  }
}

@keyframes biscuits-out {
  0% {
    opacity: 1;
    bottom: 33px;
  }
  100% {
    opacity: 0;
    bottom: 39px;
  }
}

.absolute-div-center-offset {
  transform: translate(-50%, 0%);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.centered-abs-xy {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.cafe-mockup-bg {
  background-image: url(https://cdn.discordapp.com/attachments/754243466241769515/1201456353252741161/purrductive_canvas-01.png?ex=65c9e26c&is=65b76d6c&hm=f2546ddb435399f830910e7f8dc045ce9da59595cba138b3832ad8a288100388&);
  background-size: contain;
}

.cafe-sky-bg {
  background-image: url(https://cdn.discordapp.com/attachments/754243466241769515/1201431193263034368/night_sky_bg-01.png?ex=65c9cafd&is=65b755fd&hm=ad08671e3bc860ca8c4ce8d819d271b1517b62ad1e5951234c6d997cf3a47ac9&);
  background-size: contain;
  background-repeat: repeat;
  animation: cafeBackgroundScroll 250s linear infinite;
}

@keyframes cafeBackgroundScroll {
	0% {
    background-position: 0% 0%;
  }
	100% {
    /* pattern bg texture is 1800x1800px */
    background-position:-100% 0%;
  }
}

.cafe-skyscrapers-bg {
  background-image: url(https://cdn.discordapp.com/attachments/754243466241769515/1201553716059328592/cafe-skyscrapers4-01.png?ex=65ca3d19&is=65b7c819&hm=459d5c0742815fcbde0f582aa3cdda098254706145a3cc648003cfd7758d3921&);
  background-size: cover;
  background-repeat: repeat-x;
}



.fade-in-cat {
  animation: fade-in 3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.text-none {
  font-size: 0;
}

.text-xxs {
  font-size: 0.625rem;
  line-height: 0.75rem;
}

.bg-clr {
  background-color: #DABC94;
}


.border-clr {
  border-color: #6A5239;
}

.text-clr {
  color: #6A5239;
}

/* hover:bg-[#DED6CC]*/